.now-playing {
  margin-bottom: 12px;
  .room {
    font-size: $s-size;
    font-weight: 300;
    margin-bottom: 12px;
  }
  .album-art {
    img {
      border: 3px solid #fff;
      border-radius: 6px;
    }
  }
  .title {
    font-size: $l-size;
  }
  .artist {
    font-size: $m-size;
    font-weight: 300;
  }
}
