.buienradar-widget-container {
  display: flex;
  flex-direction: row;
  border: thin solid #fff;
  border-radius: 12px;
  margin-top: 12px;
  height: 256px;
  overflow: hidden;
  width: 600px;
  iframe {
    border-right: thin solid #fff;
    pointer-events: none;
  }
  .conditions {
    padding: 12px;
    color: #fff;
    width: 100%;
    .current {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 1.75rem;
      font-weight: 700;
      svg {
        font-size: 4rem;
      }
      .text-conditions {
        width: 100%;
      }
      .description {
        font-size: 1rem;
      }
      .temperatures {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        .high-low {
          svg {
            font-size: 1.25rem;
          }
          flex-basis: 30%;
          align-items: center;
          justify-content: space-around;
          display: flex;
          flex-direction: row;
          font-size: 1rem;
          div {
            display: flex;
            flex-direction: row;
          }
        }
        .rain-today {
          display: flex;
          align-items: center;
          font-size: 1rem;
        }
      }
    }
    .rain-forecast {
      width: 100%;
      .no-rain {
        color: #40dfef;
        svg {
          font-size: 1.75rem;
        }
        font-size: 1rem;
        text-align: center;
        margin: 0 auto;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
      }
      .x-axis {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        font-size: 0.75rem;
        border-top: thin dotted #fff;
      }
    }
  }
  .misc {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    .sun {
      display: flex;
      flex-direction: row;
      align-items: center;
      svg {
        font-size: 2rem;
      }
    }
  }
}
