* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #fff;
  font-family: "Gilroy", "Futura", "Helvetica", "Arial", sans-serif !important;
  font-size: 1.6rem;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.App {
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: center;
}

.container {
  background: rgb(143, 125, 250);
  background: linear-gradient(
    326deg,
    darken(#512DA8, 5%) 0%,
    darken(#673AB7, 10%) 100%
  );
  margin: 0 auto;
  max-height: 800px;
  max-width: 1280px;
  min-height: 800px;
  min-width: 1280px;
  padding: 15px 30px;
  width: 1280px;
}
