@font-face {
  font-family: 'Gilroy';
  font-weight: 200;
  src: url('https://res.cloudinary.com/placeiknow/raw/upload/v1538798254/lighthouse/fonts/Gilroy-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 200;
  font-style: italic;
  src: url('https://res.cloudinary.com/placeiknow/raw/upload/v1538798254/lighthouse/fonts/Gilroy-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 300;
  src: url('https://res.cloudinary.com/placeiknow/raw/upload/v1538798254/lighthouse/fonts/Gilroy-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 300;
  font-style: italic;
  src: url('https://res.cloudinary.com/placeiknow/raw/upload/v1538798254/lighthouse/fonts/Gilroy-RegularItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 400;
  src: url('https://res.cloudinary.com/placeiknow/raw/upload/v1538798254/lighthouse/fonts/Gilroy-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 400;
  font-style: italic;
  src: url('https://res.cloudinary.com/placeiknow/raw/upload/v1538798254/lighthouse/fonts/Gilroy-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 500;
  src: url('https://res.cloudinary.com/placeiknow/raw/upload/v1538798254/lighthouse/fonts/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 500;
  font-style: italic;
  src: url('https://res.cloudinary.com/placeiknow/raw/upload/v1538798254/lighthouse/fonts/Gilroy-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 600;
  src: url('https://res.cloudinary.com/placeiknow/raw/upload/v1538798254/lighthouse/fonts/Gilroy-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 600;
  font-style: italic;
  src: url('https://res.cloudinary.com/placeiknow/raw/upload/v1538798254/lighthouse/fonts/Gilroy-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Futura';
  font-weight: 300;
  src: url('https://res.cloudinary.com/placeiknow/raw/upload/v1537649777/lighthouse/fonts/futura_light_bt.ttf') format('truetype');
}

@font-face {
  font-family: 'Futura';
  font-weight: 400;
  src: url('https://res.cloudinary.com/placeiknow/raw/upload/v1537649777/lighthouse/fonts/Futura_Book_font.ttf') format('truetype');
}

@font-face {
  font-family: 'Futura';
  font-weight: 500;
  src: url('https://res.cloudinary.com/placeiknow/raw/upload/v1537649790/lighthouse/fonts/futura_medium_bt.ttf') format('truetype');
}

@font-face {
  font-family: 'Futura';
  font-weight: 600;
  src: url('https://res.cloudinary.com/placeiknow/raw/upload/v1537649897/lighthouse/fonts/Futura_Heavy_font.ttf') format('truetype');
}