@font-face {
  font-family: 'Metropolis';
  font-weight: 400;
  src: url('https://res.cloudinary.com/placeiknow/raw/upload/v1537648195/lighthouse/fonts/Metropolis-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 200;
  src: url('https://res.cloudinary.com/placeiknow/raw/upload/v1537648195/lighthouse/fonts/Metropolis-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 300;
  src: url('https://res.cloudinary.com/placeiknow/raw/upload/v1537648194/lighthouse/fonts/Metropolis-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 500;
  src: url('https://res.cloudinary.com/placeiknow/raw/upload/v1537648194/lighthouse/fonts/Metropolis-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 600;
  src: url('https://res.cloudinary.com/placeiknow/raw/upload/v1537648195/lighthouse/fonts/Metropolis-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 700;
  src: url('https://res.cloudinary.com/placeiknow/raw/upload/v1537648194/lighthouse/fonts/Metropolis-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Metropolis';
  font-weight: 800;
  src: url('https://res.cloudinary.com/placeiknow/raw/upload/v1537648194/lighthouse/fonts/Metropolis-ExtraBold.otf') format('opentype');
}

@font-face {
  font-family: 'Futura';
  font-weight: 300;
  src: url('https://res.cloudinary.com/placeiknow/raw/upload/v1537649777/lighthouse/fonts/futura_light_bt.ttf') format('truetype');
}

@font-face {
  font-family: 'Futura';
  font-weight: 400;
  src: url('https://res.cloudinary.com/placeiknow/raw/upload/v1537649777/lighthouse/fonts/Futura_Book_font.ttf') format('truetype');
}

@font-face {
  font-family: 'Futura';
  font-weight: 500;
  src: url('https://res.cloudinary.com/placeiknow/raw/upload/v1537649790/lighthouse/fonts/futura_medium_bt.ttf') format('truetype');
}

@font-face {
  font-family: 'Futura';
  font-weight: 600;
  src: url('https://res.cloudinary.com/placeiknow/raw/upload/v1537649897/lighthouse/fonts/Futura_Heavy_font.ttf') format('truetype');
}